* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.player-name {
}

.total-score {
  font-size: 50px;
}

.current-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  margin-bottom: 30px;
}

.current-score {
  font-size: 24px;
}
